@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.main{
  background-color: white;
}
.navbar{
  background-color: rgb(62, 62, 239);
  display: flex;
  height: 60px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;

}
.logo{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  width: 150px;
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
}
.search input{
  width: 100%;
  height: 30px;
  border-radius: 18px;
  padding-left: 10px;
  border: 1px solid black;
}
.search .searchlogo{
  position: relative;
  right: 35px;
  top: 1px;
  color: grey;
}
.services{
  flex:2;
  display: flex;
  justify-content: end;
  align-items: center;
}
.services ul{
  display: flex;
  /* background-color: red; */
  width: 50%;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
}
.services .serv{
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.main2{
  display: flex;
  height: 92vh;
}
.sidebar{
  display: flex;
  flex-direction: column;
  width: 200px;
  /* background-color: rgb(227, 227, 227); */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  justify-content: space-between;
}
.sidebar .head{
  font-weight: 600;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.content{
  padding: 10px;
  /* background-color: blue; */
  width: 100%;
  overflow-x: hidden;
}

.folder_name{
  background-color: rgb(255, 255, 255);
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.file_folder1{
  background-color: rgb(212, 212, 212);
}
.folder_name:hover{
  background-color: rgb(212, 212, 212);
}
.icn{
  font-size: 19px;
  margin-right: 10px;
}

.addfile{
  box-shadow: rgba(0, 0, 0, 1   ) 0px 22px 70px 4px;  
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;align-items: center;
  position: fixed;
  right: 80px;
  bottom: 80px;
}

.addfile .uicn{
  font-size: 50px;
  font-weight: 700;
  color: rgb(62, 62, 239);
}

.addfile:hover .uicn{
  color: white;
  transition: 0.5s ease;
}
.addfile:hover{
  background-color: rgb(62, 62, 239);;
  transition: 0.5s ease;
}

.files{
  /* background-color: red; */
  width: 100%;
}
.files ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  width: 100%;
}

.sfile img{
  width: 70px;
}
.sfile{
  /* width: 100px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* background-color: red;  */
  height: 100px;
  padding: 10px;
  /* align-items: center; */
}
.files ul li{
  border-radius: 14px;
}
.files ul li:hover{
  transition: 0.8s ease;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px; /* Adjust width as needed */
  display: inline-block;
  font-size: 14px;
}
.sfile a{
  text-decoration: none;
  color: black;
}
.mainlogin{
  background-color:  rgb(62, 62, 239);
  height: 100vh;
  display: flex;
}
.mainlogin .part1{
  flex: 2;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainlogin .part2{
  flex: 1;
}
.part2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.part2 form{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 100%;
  /* background-color: red; */
}
.part2 form input{
  width: 70%;
  margin-top: 20px;
  height: 30px;
  background-color: transparent;
  border-width: 0px 0px 1px 0px;
  border-color: white;
  color: white;
}
/* input:focus{
  border-width: 0px 0px 1px 0px;
  background-color: red;
} */

.part2 form button{
  width: 70%;
  margin-top: 20px;
  height: 30px;
  border-radius: 16px;
  border: 0px;
  font-weight: 700;
  color:  rgb(62, 62, 239);;
}
.part2 form button:hover{
  background-color: rgb(195, 195, 195);
  transition: 0.3s ease;
  transform: scale(1.02);
}

.part2 form h2{

  letter-spacing: 10px;
  color: white;
}

.part2 form p{
  font-size: 12px;
  margin-top: 10px;
  color: white;
}
.part2 form p .register{
  color:  white  ;
}
.profpic{
  /* background-color: red; */
}
.pmain .psidebar{
  display: flex;
  height: 89.5vh;
  width: 200px;
  padding:10px;
  flex-direction: column  ;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.profpic img{
  height: 200px;
}
.editicon{
  background-color: red;
  width: fit-content;
  padding: 10px;
  border-radius: 50%;
  color:  rgb(62, 62, 239);
  background-color: rgb(220, 220, 220);
  position: relative;
  bottom: 50px;
  left: 140px;
}
.details .folder_name{
  background-color: white;
}
.pmain{
  display: flex;
  width: 100%;
}
.pcontent{
  width: 100%;
  padding: 10px;
}
.storage{
  /* background-color: red; */
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
}
.storage h2{
  font-size: 40px;
}
.storagebar{
  width: 70%;
  background-color: rgb(217, 217, 217);
  height: 10px;
  border-radius: 10px;
}
.storagebar .used{
  background-color: rgb(62, 62, 239);;
  width: 10%;
  height: 10px;
  border-radius: 10px;
}
.storageview{
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.snumber{
  margin-left: 20px;
}
.moreinfo{
  /* background-color: red; */
  height: 50px;
  display: flex;
  align-items: center;  
  font-size: 18px;
  padding: 10px;
}
.moreinfo:hover{
  background-color: rgb(210, 210, 210);
}
.cont{
  margin-left: 10px;
}
.active{
  border-bottom: 2px solid white;
}
.services .serv:hover{
  transition: 1s ease;
  border-bottom: 2px solid white;
  
}
.contentf{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}
.uploadside{
  /* background-color: blue; */
  width: 50%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px dashed rgba(0, 0, 255, 0.4);
  border-radius: 20px;
  color: rgba(0, 0, 255, 0.4);
}
.uploadside .upic{
  font-size: 200px;
  color: rgba(0, 0, 255, 0.4);
}
.uploadside form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.uploadside h2{
  color:rgba(0, 0, 255, 0.4)
}
.uploadside form button{
  background-color:rgba(0, 0, 255);
  color: white;
  border: 0px;
  padding: 10px;
  border-radius: 12px;
  width: 80px;
}
.uploadside form button:hover{
  background-color:rgb(91, 91, 243);

}